/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
}
body{
  font-size: 12px;
}
li{
  list-style: none;
}
/* regole header */
header{
  background-color: #0000ff;
}
nav{
display: flex;
justify-content: space-between;
padding-top: 10px;
background-color: #ffff;
position: relative;
}

nav .logo img{
  width: 150px;
  height: auto;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
}

/* regole menù dropdown*/
nav .dropdown{
display: none;
position: absolute;
top: 50px;
left: 0;
}
.menù:hover .dropdown{
  display: block;
}
.menù{
  display: none;
}

@media screen and (max-width: 991px) {
  nav{
    padding: 10px 10px;
  }
  .menù{
    display: block;
  }
  .menù-lg{
  display: none;
  }
}

 /* regole jumbotron */
.jumbotron{
 min-height: 50vh;
 display: flex;
 justify-content: space-between;
}
.jumbotron > div{
  width: 45%;
  padding-top: 50px;
}
.jumbotron div:first-child{
  font-size: 1.6rem;
}
.jumbotron div:last-child{
  font-size: 1.4rem;
}

.card{
  width: 70%;
  margin: auto;
  background-color: #ffff;
  padding: 20px;
  border-radius: 20px;
}
.card h3{
  text-align: center;
}
.card input{
  width: 100%;
  margin-bottom: 20px;
}
.card button{
  width: 100%;
  margin: auto;
}
.card p > a{
  color: #000000;
}
.card p{
  font-size: 1rem;
}
.card p:last-child{
  margin: 15px 0;
}

/* regole main */
#businesses{
  background-color: #f3f5f9;
  text-align: center;
  padding-top: 30px;
}

#businesses ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
#businesses img{
  margin: 0 15px;
}
/* regole deploy */

#deploy p,
#deploy h2{
  text-align: center;
  margin: 30px 0;
  font-size: 1.6rem;
}

#deploy .flex{
  display: flex;
  margin-top: 80px;
}
#deploy ul{
  width: 30%;
  padding-left: 7%;
  font-size: 1.6rem;
}
#deploy ul li{
  border-left: 1px solid #000000;
  padding:10px 0 10px 5px;
}

#deploy .info{
display: flex;
width: 70%;
flex-wrap: wrap;
}
.textinfo{
  flex-basis: 50%;

}
