/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
}
body{
  font-size: 12px;
}
li{
  list-style: none;
}
/* regole header */
header{
  background-color: #0000ff;
}
nav{
  background-color: #ffff;
  position: fixed;
  width: 100%;
}
nav .container{
display: flex;
justify-content: space-between;
padding-top: 10px;
position: relative;
}

nav .logo img{
  width: 150px;
  height: auto;
}

nav ul li{
  display: inline-block;
  margin: 0 10px;
}

/* regole menù dropdown*/
nav .dropdown{
display: none;
position: absolute;
top: 50px;
right: 20px;
}
.menù{
  display: none;
}
.fa-bars{
  font-size: 2rem;
}

@media screen and (max-width: 991px) {

  nav{
    padding: 10px 10px;
  }
  .menù{
    display: block;
  }
  .dropdown li{
    width: 500px;
    min-height: 50px;
    background-color:#F0F8FF ;
    border: 1px solid black;
  }
  .dropdown a{
    font-size: 1.5rem;
    color: #000000;
  }
  .menù:hover .dropdown{
    display: flex;
    flex-direction: column;
  }
  .dropdown li{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menù-lg{
  display: none;
  }
}

 /* regole jumbotron */
.jumbotron{
 min-height: 50vh;
 display: flex;
 justify-content: space-between;
}
.jumbotron > div{
  width: 45%;
  padding-top: 50px;
}
.jumbotron div:first-child{
  font-size: 1.6rem;
}
.jumbotron div:last-child{
  font-size: 1.4rem;
}

.card{
  width: 70%;
  margin: auto;
  background-color: #ffff;
  padding: 20px;
  border-radius: 20px;
}
.card h3{
  text-align: center;
}
.card input{
  width: 100%;
  margin-bottom: 20px;
}
.card button{
  width: 100%;
  margin: auto;
}
.card p > a{
  color: #000000;
}
.card p{
  font-size: 1rem;
}
.card p:last-child{
  margin: 15px 0;
}

@media screen and (max-width: 991px) {
  .jumbotron{
    flex-direction: column;
    align-items: center;
  }
}
/* regole section businesses */
#businesses{
  background-color: #f3f5f9;
  text-align: center;
  padding-top: 30px;
}

#businesses ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
#businesses img{
  margin: 0 15px;
}

@media screen and (max-width: 991px){
  #businesses li{
    width: 100%;
  }
}
/* regole section deploy */
#deploy h2{
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
}

#deploy .container > p{
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0 30px 0;
}

#deploy .flex{
  display: flex;
  margin-top: 80px;
}
#deploy ul{
  width: 30%;
  padding-left: 7%;
  font-size: 1.6rem;
}
#deploy ul li{
  border-left: 1px solid #000000;
  padding:10px 0 10px 5px;
}

#deploy .info{
display: flex;
width: 70%;
flex-wrap: wrap;
}
.textinfo{
  flex-basis: 50%;
  margin-bottom: 50px;
}
.textinfo h3{
  font-size: 1.6rem;
}
.textinfo p{
  font-size: 1.3rem;
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  #deploy .flex{
    flex-direction: column;
  }
  .textinfo{
    flex-basis: 100%;
    margin: 30px 0;
    padding-left: 20px;
  }
}

/* regole section designed */
#designed{
  background-color: #f3f5f9;
}
#designed .flex{
  display: flex;
  justify-content: center;
}
#designed h2,
#designed p{
  text-align: center;
}
#designed h2{
  font-size: 1.6rem;
  padding-top: 40px;
}
#designed p{
  font-size: 1.5rem;
  color: #5b6987;
}
.screen{
  width: 70%;
  margin: 50px auto;
}
.screen img{
  max-width: 100%;
  height: auto;
}
.arrow{
  align-self: center;
  font-size: 2.5rem;
}

.circle{
  width: 12px;
  height: 12px;
  margin-bottom: 30px;
  display: inline-block;
  color: #0069ff;
  border: 1px solid #0069ff;
  border-radius: 50%;
}
.circle:hover{
  background-color: #0069ff;
  cursor: pointer;
}
.change-screen{
  text-align: center;
}
.change-screen p{
  font-size: 1.7rem;
  font-weight: bold;
  margin: 30px 0 5px 0;
  color: #5b6987;
}

@media screen and (max-width: 991px){
  .arrow{
    display: none;
  }
  #designed{
    padding: 20px;
  }
}

/* regole section features */
#features h2{
  text-align: center;
  font-size: 1.8rem;
  margin: 30px 0;
}
#features .flex{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
#features .flex > div{
  flex-basis: 33%;
  margin: 0 25px;
}
#features h3{
  font-size: 1.2rem;
  margin: 10px 0 5px 0;
}
#features p{
  font-size: 1rem;
}

@media screen and (max-width: 991px){
  #features .flex{
    flex-direction: column;
  }
  #features .flex > div{
    margin-top: 20px;
  }
}

/* regole service */
#service{
  background-color: #0000ff;
  font-size: 1.3rem;
}
#service h3,
#service > p{
  text-align: center;
  padding: 15px 20px;
}
#service .flex{
  display: flex;
  justify-content: space-between;
}
#service .flex > ul{
  width: 49%;
  margin-top: 40px;
  padding: 10px;
}
#service .flex > ul > li{
  min-height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px 0; */
  border-bottom: 1px solid #000000;
}
#service .flex > ul > li:last-child{
  border: none;
  margin-bottom: 40px;
}
#service .flex > ul > li a{
  color: green;
}

@media screen and (max-width: 991px){
  #service .flex{
    flex-direction: column;
    align-items: center;
  }
  #service .flex > ul{
    width: 90%;
  }
}

/* regole footer */
footer{
  background-color:#6495ED;
}
footer .container{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  font-size: 1.1rem;
}
footer .container > div:first-child{
  flex-basis: 25%;
}
footer .container > div:first-child p{
  margin-top: 10px;
}
.loghi-footer{
  display: flex;
  margin-top: 7px;
}
footer ul li{
  margin: 8px 0;
  flex-basis: 20%;
}

@media screen and (max-width: 991px){
  footer .container{
    flex-direction: column;
    padding: 15px;
  }
  footer .container > div:first-child{
    margin: 30px 0;
  }
  .loghi-footer li{
    flex-basis: 10%;
  }
  .list-link{
    margin-top: 20px;
  }
}
